html,
body {
  text-align: center;
  background: #f8b9f5;
  background: linear-gradient(-8deg, #ffffff, #eeb6d8);
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  height: 75px;
  width: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  align-items: center;
  background: -webkit-linear-gradient(-8deg, #2d747b, #f8b9f5);
  background: linear-gradient(-8deg, #2d747b, #f8b9f5);
}

.navbar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-align: center;
  align-items: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

a.nav-link:hover {
  color: rgb(170, 128, 166);
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

bar:nth-child(2) {
  width: 200%;
}

bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }

  .active .bar:nth-child(3) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}
img {
  padding: 30px 0px 30px 0px;
}

h1 {
  color: rgb(45, 3, 99);
}

h2 {
  padding: 30px 0px 0px 0px;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: normal;
}
